body {
	background-color: #00bfff;
	color: 	#f8f8ff;
	font-family: Arial;
	font-variant: small-caps;
	font-size: 24px;
	text-align: center;
	
        animation: backgroundcolorchange 60s infinite; 
        -webkit-animation: backgroundcolorchange 60s infinite; /* Chrome and Safari */
        
    }

    @keyframes backgroundcolorchange
    {
      0%   {background: #0086b3;}
      25%  {background: #0099cc;}
      50%  {background: #00ace6;}
      75%  {background: #00bfff;}
      100% {background: #4dd2ff;}
    }

    @-webkit-keyframes backgroundcolorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #0086b3;}
      25%  {background: #0099cc;}
      50%  {background: #00ace6;}
      75%  {background: #00bfff;}
      100% {background: #4dd2ff;}
    }


	
    @-webkit-keyframes buttoncolorchange 
    {
  	      from { background-color: #4682b4; }
        	to { background-color: #246992; }
	}
	
   @keyframes buttoncolorchange
   {
        from { background-color: #4682b4; }
	to { background-color: #246992; }
	}


}


h1 {
	color: white;
	text-align: center;
	font-size: 75px;
	letter-spacing: 3px;
}

#header {
	background-color: #4682b4;
	text-align: center;
	border: 4px solid #f8f8ff;
	border-radius: 15px;
	border-radius: 15px;
	padding:10px;
	height:120px;
	}
	
#content {
	overflow:auto;
	padding-bottom:90px; /*height of footer*/
}
	
	
#footer {
	background-color: #4682b4;
	text-align: center;
	border: 3px solid #f8f8ff;
	font-size:22px;
	border-radius: 15px;
	position: relative;
	margin-top: -120px; /* negative value of footer height */
	height: 90px;
	clear:both;
	padding:10px;
}	

body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}

img {
	display: block;
	margin: auto;
}


a:link, a:visited {
    background-color: #4682b4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    text-decoration: underline;
}


a:hover {
    animation: buttoncolorchange 1.1s;
    -webkit-animation: buttoncolorchange 1.1s;
    background-color: #246992;
}

#linkwithtext {
border: 4px solid #f8f8ff;
	border-radius: 10px;
	padding: 15px 5px 5px 15px;
    background-color: rgba(70, 130, 180, 0.5);
    font-size: 18px;
    border-style: double;
    margin: 0 auto;
    margin-left:30%;
    margin-right:30%;
}
	
	
#4682b4


#b0c4de


#00bfff

